.header__logo {
  width: 142px;
  height: 33px;
  margin: 45px 0 40px 0;
  padding: 0;
}

.header__logo:hover {
  background-color: #000000;
}

@media screen and (max-width: 950px) {
  .header__logo {
    margin-left: 50px;
  }
}

@media screen and (max-width: 650px) {
  .header__logo {
    margin: 35px 0 30px 50px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 28px 0 32px 27px;
  }
}