.header__button {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.header__button:hover {
  opacity: 0.6;
  cursor: pointer;
}