.form__field {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  width: 100%;
  font-family: inherit;
  margin-bottom: 30px;
  transition: 0.3s;
  outline: none;
}

.form__field:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 650px) {
  .form__field:last-of-type {
    margin-bottom: 45px;
  }
}